<div class="all">
  <div class="background">
    <div class="col-1-3" routerLink="/dolist">
      <div class="img"><img class="img2" src="assets\images\1.png"></div>
      <div class="module"><p>支部党员大会</p></div>
    </div>
    <div class="col-1-3" routerLink="/dolist">
      <div class="img"><img class="img2"  src="assets\images\2.png"></div>
      <div class="module"><p>支部党委会</p></div>
    </div>
    <div class="col-1-3" routerLink="/dolist">
      <div class="img"><img class="img2"  src="assets\images\3.png"></div>
      <div class="module"><p>党小组会</p></div>
    </div>
  </div>
  <div>
    <div class="col-1-3" routerLink="/dolist">
      <div class="img"><img class="img2"  src="assets\images\4.png"></div>
      <div class="module"><p>党课</p></div>
    </div>
    <div class="col-1-3" routerLink="/dolist">
      <div class="img"><img class="img2"  src="assets\images\5.png"></div>
      <div class="module"><p>党员活动日</p></div>
    </div>
    <div class="col-1-3" routerLink="/dolist">
      <div class="img"><img class="img2"  src="assets\images\6.png"></div>
      <div class="module"><p>组织生活会</p></div>
    </div>
  </div>
  <div>
    <div class="col-1-3" routerLink="/dolist">
      <div class="img"><img class="img2"  src="assets\images\7.png"></div>
      <div class="module"><p>民主评议党员会</p></div>
    </div>
    <div class="col-1-3" routerLink="/dolist">
      <div class="img"><img class="img2"  src="assets\images\8.png"></div>
      <div class="module"><p>其他活动</p></div>
    </div>
    <div class="col-1-3" routerLink="/dolist">
      <div class="img"><img class="img2"  src="assets\images\9.png"></div>
      <div class="module"><p>通知公告</p></div>
    </div>
  </div>
</div>
